<!DOCTYPE html>
<html>
  <head>
    <title>TechpitMatch</title>
    <%= csrf_meta_tags %>

    <meta name="current_user_id" content="<%= current_user.id if current_user %>">
    <meta name="viewport" content="width=devise-width, initial-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <% if flash[:notice] %>
    <p class="notice"><%= notice %></p>
  <% end %>
  <% if flash[:alert] %>
    <p class="alert"><%= alert %></p>
  <% end %>
    <%= yield %>
  </body>
</html>
